body
{
    background-color:white;
}
.container { 

  position: absolute;
    background:#0D0404;
    width: 1005px;
    height: 146px;
  top:40%; 
  left:14%;  
 
}

.img1
{
   height:390px;
    position:absolute;
    left:0%;
    box-sizing: border-box;
    top:0%;
}
.img2
{
    height:390px;
    position:absolute;
    left:33%;
    box-sizing: border-box;
     top:0%;
}
.img3
{
    height:390px;
    position:absolute;
    right:0%;
     top:0%;
}

.img4
{
    height:390px;
    position:absolute;
    top:50%;
    left:0%;
}

.img5
{
    height:390px;
    position:absolute;
      top:50%;
    left:33%;
}

.img6
{
    height:390px;
    position:absolute;
      top:50%;
   right:0%;
}

a:hover
{
 opacity:0.4;
}

.title
{   color:white;
    font-family:'Montserrat', sans-serif;
    font-size:80px;
    letter-spacing:12px;
  position:relative;
  top:-60px;
  
  
}
i
{   color:Yellow;
    font-size:140px;
  
}

.bg1
{
    background-color:Black;
}


    