body
{
    background-color:black;
}
h1
{
    color:Aqua;
}
h2
{   color:#8093F1;
}
h3
{
    color:#72DDF7;
}
  
p
{   color:Fuchsia;
}
i
{   color:Yellow;
    font-size:140px;
  
}
a
{
  color:White;
  font-style:italic;
  font-size:180px;
}